<!DOCTYPE html>
<html>
  <head>
    <title>PostsBook</title>
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div>
        <div class="logo"><a href="/">PostsBook</a></div>
        <div class="search">
          <input type="text" placeholder="검색">
        </div>
        <div class="panel">유저영역</div>
      </div>
    </nav>
    <section></section>
    <footer></footer>
  </body>
</html>
