* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 { font-size: 2.2rem; } 

h2 { font-size: 2.0rem; } 

h3 { font-size: 1.8rem; } 

h4 { font-size: 1.6rem; } 

h5 { font-size: 1.4rem; } 

p { font-size: 1.2rem; }

body, html {
  height: 100%;
}

html {
  font-size: 16px;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 77px;
  display: flex;
  justify-content: center;
  > div {
    max-width: 1010px;
    width: 100%;
    padding: 1.625rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin-right: auto;
    }

    .search {
      margin: 0 auto;
      input {
        width: 215px;
        min-width: 125px;
        height: 28px;
        background: #fafafa;
        border: 1px solid #dbdbdb;
        text-align: center;
      }
    }
    .panel {
      margin-left: auto;
    }
  }
}

.wrapper {
  background-color: #fafafa;
  flex: 1 1 auto;

  article {
    max-width: 935px;
    margin: 0 auto 1.875rem;
    width: 100%;

    .posts {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .wrap {
        flex-basis: 33.3%;
        width: 33.3%;
        display: flex;
        flex-direction: column;
        padding: 0.625rem;

        .post {
          border: 1px solid rgba(0,0,0,.0975);
          border-radius: 3%;
          padding: 0.3125rem;
          background-color: #fff;
          width: 100%;
          .img-wrap {
            flex: auto;
            display: flex;
            border: {
              bottom: 1px solid rgba(0,0,0,.0975);
              right: 1px solid rgba(0,0,0,.0975);
            }
            border-radius: 3%;
            overflow: hidden;

            img {
              margin: 0 auto;
              width: 100%;
              height: 100%;
            }
          }

          a .content-wrap {
            padding: {
              top: 0.5rem;
              bottom: 0;
            }
          }

          .content-wrap {
            padding: 0 0.5rem;

            .title h3, .description p {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-wrap: normal;
            }

            .description {
              padding-bottom: 0.25rem;
              border-bottom: 1px solid rgba(0,0,0,.0975);
            }

            .info {
              display: flex;
              padding-top: 0.25rem;
              border-bottom: 1px solid rgba(0,0,0,.0975);
              > div {
                flex: 1;
                padding: 0.25rem;
                text-align: center;
                user-select: none;
              }
            }

            .tags {
              padding: 0.5rem 0;
              border-bottom: 1px solid rgba(0,0,0,.0975);
              display: flex;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-wrap: normal;

              .tag {
                border: 1px solid rgba(0,0,0,.0975);
                border-radius: 0.9375rem;
                padding: 0.3125rem 0.625rem;
                margin-right: 0.3125rem;

                &:hover {
                  cursor: pointer;
                  background-color: #fafafa;
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  padding: 0 1.25rem;
  background-color: #fafafa;
  border-top: 1px solid rgba(0,0,0,.0975);
  margin-top: auto;

  div {
    padding: 2.375rem 0;
    text-align: center;
  }
}